# Ignore bundler config.
/.bundle

# Ignore all environment files.
/.env*
!/.env*.erb

# Ignore all logfiles and tempfiles.
/log/
/tmp/

# Ignore storage (Active Storage, cache, etc).
/storage/

# Ignore master key for decrypting credentials and more.
/config/master.key

# Ignore node_modules
/node_modules

# Ignore yarn files
/yarn-error.log
.yarn-integrity

# Ignore uploaded files in development.
/storage/*
!/storage/.keep

# Ignore assets compiled for production.
/public/assets
